* {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
}

.navbar {
  background-color: white;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 40%;
  box-shadow: 0 0 10px 0 gray;
  position: relative;
}
.navbar:nth-of-type(1) {
  flex-grow: 1;
}

.navbar div {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.navbar button:hover {
  background-color: gray;
}
.navbar a {
  text-decoration: none;
}
.navbar input {
  border: none;
  margin-left: 1%;
  flex: 1;
  outline: none;
  margin-top: 12px;
  font-size: 130%;
}

.out {
  padding: 0.5%;
  color: black;
  background: white;
  border: 1px solid black;
}
.log_in {
  padding: 0.5%;
  color: black;
  background: white;
  border: 1px solid black;
}

.navbar .search-container {
  display: flex;
  flex: 1;
  border: 1px solid black;
  border-radius: 20px;
  flex: 1;
  max-width: 80%;
  height: 50px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.search-container form {
  display: flex;
  flex: 1;
}
#searchIcon {
  border: none;
  background-color: white;
  margin-top: 50%;
  margin-left: 10%;
}
.navbar .search-container i {
  font-size: 130%;
}
.link_Udemy {
  color: black;
}
.link_Udemy:hover {
  color: blue;
}
.earth {
  border: 1px gray solid;
  padding: 0.5%;
}
.earth:hover {
  background-color: gray;
}
.ima {
  margin: auto;
  width: 100%;
  align-items: center;
  margin: auto;
  position: relative;
}
.ima img {
  width: 100%;
  height: 100%;
  min-height: 20%;
  object-fit: cover;
}
.text_over_img {
  position: absolute;
  display: flex;
  flex: 1;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  margin-left: 5%;

  padding: 1%;

  flex-direction: column;
  background: #fff;
  font-size: large;
  min-width: 20%;
  width: 35%;

  height: 70%;
  margin-top: 1%;
}
.text_over_img h4 {
  padding-bottom: 50%;
}

.text_under_img {
  margin-left: 10%;
}

.all_links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
  display: inline;
  display: flex;
  flex: 1;
}
.all_links a {
  text-decoration: none;
  flex: 1;
  margin-left: 10px;
  direction: none;

  font-size: 1.2rem;
  color: darkgrey;
}
.all_links a:hover {
  color: black;
}

.courses {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-left: 5%;
  width: 90%;
  border: 1px gray solid;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.courses_text {
  margin-left: 5%;
}

.explore button:hover {
  background-color: gray;
}

.search-icon {
  display: none;
}
.bar-icon {
  display: none;
}

.photo_small {
  display: none;
}

@media (max-width: 970px) {
  .photo_big {
    display: none;
  }
  .photo_small {
    display: inline-block;
    width: 40%;
    height: 10%;
  }
  #h {
    display: none;
  }
  .search-icon {
    display: block;
  }
  .text_over_img {
    display: none;
  }
  .bar-icon {
    display: block;
    font-size: 30px;
    margin-left: 20px;
    position: relative;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .active {
    margin-left: calc(100vw - 200px);
  }

  .search-icon {
    padding-left: 60%;
    margin-left: 600px;
  }
  .ima {
    width: 100%;
    height: 40%;
    margin: auto;
  }

  #carouselExampleControls {
    margin-left: -60%;
  }
  .a {
    margin-top: 1%;
  }
}
